# --- Core de Django y Utilidades ---
Django==5.1.7
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1
python-dotenv==1.0.1

# --- Base de Datos (MySQL) ---
mysqlclient==2.2.6
cryptography==42.0.5

# --- Reportes y Excel (Vital para Acerautos) ---
openpyxl==3.1.2
et_xmlfile==1.1.0
Pillow==10.2.0

# --- Webpush y Notificaciones ---
django-webpush==0.3.4
pywebpush==1.9.4
http-ece==1.1.0
py-vapid==1.9.0

# --- Interfaz y Estilos ---
django-widget-tweaks==1.5.0

# --- Generaci?n de PDFs (WeasyPrint) ---
weasyprint==61.2
cffi==1.16.0
pycparser==2.21
html5lib==1.1
tinycss2==1.2.1

# --- Servidor de Producci?n ---
gunicorn==21.2.0
whitenoise==6.7.0
